@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

/* Global styles */
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'bebas', sans-serif;
    height: 100%;
}


/* Navigation Styles */
nav {
    background: transparent;
    padding: 20px 10px;
    z-index: 3;
}

.menu-icon,
.menu-aria,
.menu-cart,
.menu-login-signup,
.menu-container p,
.cart-count,
.menu-text {
    display: inline;
    cursor: pointer;
    color: #ffffff;
}

.menu-icon {
    padding: 20px 20px; 
}

.menu-aria {
    position: absolute;
    height: 3px;
    background: #ffffff;
    margin-top: 20px;
}

.menu-aria:nth-child(1) {
    top: 8px;
    width: 20px;
}

.menu-aria:nth-child(2) {
    top: 16px;
    width: 30px;
}

.menu-aria:nth-child(3) {
    top: 24px;
    width: 20px;
}

.menu-container p,
.menu-container a {
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 60px;
}

.menu-cart {
    float: right;
}

.cart-count p {
    background: rgba(29, 29, 29, 0.3);
    padding: 8px;
    border-radius: 60px;
    font-size: 20px;
    margin-left: 0px;
}

.menu-cart p {
    margin-left: 10px;
}

.menu-login-signup {
    float: right;   
}

.menu-login-signup a:nth-child(1) {
    margin-left: 40px;
}

.menu-login-signup a {
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
}

/* Container Styles */
.container {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/home_hero1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-left: 0px;
    transition: all 0.3s linear;
}

.container.active {
    margin-left: 400px;
    transition: all 0.3s linear;
}

.home-shop-button {
    background: transparent;
    color: #ffffff;
    padding: 16px 50px;
    border: 1px solid #ffffff;
    outline: none;
    cursor: pointer;
    font-family: 'bebas', sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    transition: 0.4s;
}

.home-shop-button:hover {
    background: #ffffff;
    color: #000000;
    transition: 0.4s;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

/* Side Menu Styles */
.side-menu {
    position: fixed;
    top: 0;
    height: 100%;
    width: 400px;
    background: #1b1a1a;
    left: -400px;
    z-index: 5;
    transition: left 0.2s linear;
}

.side-menu.active {
    left: 0;
    transition: left 0.2s linear;
}

.side-menu ul {
    padding-top: 50px;
    padding-left: 60px;
    box-sizing: border-box;
    height: 80%;
}

.side-menu ul li {
    font-family: 'bebas', sans-serif;
    font-size: 50px;
    list-style: none;
    margin-bottom: 10px;
    outline: none;
}

.side-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s;
}

.side-menu ul li a:hover {
    color: rgb(228, 108, 108);
    transition: 0.4s;
}

.disclaimer {
    text-decoration: none;
    display: block;
    color: #ffffff81;
    font-size: 15px;
    font-family: 'Anonymous Pro', monospace;
    margin-left: 60px;
    margin-bottom: 20px;
}

.side-menu ul li .active-link {
    color: rgb(199, 80, 80);
}

/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #0000003d;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.overlay.active {
    opacity: 1;
    transition: all 0.3s;
    pointer-events: all;
    cursor: pointer;
}

/* Login Form Styles */
.login-wrapper,
.signup-wrapper {
    position: absolute;
    background: #ffffff;
    height: auto;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    padding: 20px 50px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 3px 3px 20px #0000004b;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.login-wrapper.active,
.signup-wrapper.active {
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s;
}

.login-wrapper h3,
.signup-wrapper h3 {
    font-family: 'bebas', sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
}

.login-wrapper input[type=email],
.login-wrapper input[type=password],
.signup-wrapper input[type=email],
.signup-wrapper input[type=password],
.signup-wrapper input[type=text] {
    padding: 10px 20px;
    font-family: 'Anonymous Pro', monospace;
    outline: none;
    border: 1px solid rgb(228, 226, 226);
    transition: 0.3s;
    color: rgb(228, 226, 226);
    display: block;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.login-wrapper input[type=email]:focus,
.login-wrapper input[type=password]:focus,
.signup-wrapper input[type=email]:focus,
.signup-wrapper input[type=password]:focus,
.signup-wrapper input[type=text]:focus  {
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.3s;
}

.login-wrapper input[type=email]::placeholder,
.login-wrapper input[type=password]::placeholder,
.signup-wrapper input[type=email]::placeholder,
.signup-wrapper input[type=password]::placeholder,
.signup-wrapper input[type=text]::placeholder  {
    color: rgb(228, 226, 226);
}

.login-wrapper input[type=submit],
.signup-wrapper input[type=submit]
{
    color: #ffffff;
    background: #000000;
    font-size: 18px;
    letter-spacing: 4px;
    font-family: 'bebas', sans-serif;
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.login-wrapper input[type=submit]:hover,
.signup-wrapper input[type=submit]:hover
 {
    background: #3d3d3d;
    transition: all 0.3s;
}

.login-wrapper form p,
.signup-wrapper form p {
    text-align: center !important;
    color: rgb(204, 62, 62) !important;
}